*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: auto 30px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
  justify-self: center;
  align-self: center;
}

.result__video-container {
  position: relative;
  max-width: 711px;
  max-height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-end;
  justify-content: space-between;
}

.search-form__label {
  width: fit-content;
  display: flex;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:focus-visible {
  border: 1px solid white;
}

.search-form__label-text {
  margin-left: 3px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: gray;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-bottom: 5px;
}

.search-form__textfield {
  background-color: transparent;
  border-right: 0;
  border-left: 0;
  border-top: 1px;
  border-bottom: 1px;
  gap: 10px;
  border-color: white;
  border-style: solid;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  appearance: none;
  color: white;
  width: 225px;
  max-height: 27px;
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__label:has(.search-form__label:focus) {
  outline: none;
}

.search-form__label:has(.search-form__label:focus-visible) {
  border: 1px solid white;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border-style: solid;
  border-width: 1px;
}

input[type="checkbox"] + span {
  position: relative;
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

input[type="checkbox"]:checked + span::before {
  content: '';
  position: relative;
  width: 15px;
  height: 15px;
  top: 1px;
  left: 1px;
  background-color: white;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  border: 1px solid white;
}

.search-form__submit-button {
  cursor: pointer;
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: white;
  border: 1px solid white;
  width: 194px;
  height: 34px;
}

.search-form__submit-button:active {
  background-color: gray;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.more-button {
  cursor: pointer;
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: white;
  border: 1px solid white;
  width: 399px;
  height: 34px;
}

input:focus {
  outline-style: none;
}

.title {
  margin-bottom: 26px;
}

.content__details {
  max-height: 534px;
  max-width: 399px;
  overflow: scroll;
}

.content__card-link {
  text-decoration: none;
  color: white;
  margin: 1px;
}


.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
}

.preloader {
  height: 100%;
}

.content__list-item {
  max-height: 107px;
}

.content__video-card:active {
  background-color: grey;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.content__video-card-title {
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  max-width: 194px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 


